@font-face {
  font-family: Futura;
  font-weight: normal;
  src: url('fonts/Futura.ttc') format('TTC');
}

@font-face {
  font-family: HelveticaNeue;
  font-weight: normal;
  src: url('fonts/HelveticaNeue.ttc') format('TTC');
}

body {
   width: 80%;
}

header {
  font-family: HelveticaNeue;
  font-size: 18px;
  text-decoration: none;
}

section {
  display: flex;
}

.intro {
  padding-left: 100px;
}

.hero {
  max-width: 100%;
  height: auto;
}

.heel {
  max-width: 35%;
  height: auto;
}

video {
    max-width: 100%;
    height: auto;
}
